# 0. 필요 패키지 설치

In [1]:
# pip install numpy

In [2]:
# pip install pandas

In [3]:
# pip install matplotlib

In [4]:
# 패키지 import
import csv
import numpy as np
import pandas as pd

# 1. Numpy 를 활용한 csv file open

csv 파일을 읽는 방법은 2가지<br>
 1. Python 기본 file open 함수 사용 -> numpy 로 변경<br>
 2. numpy 의 file read 함수 사용<br>
    
이 중 2번 방법을 사용

In [5]:
def file_open_by_numpy():
    # np.loadtxt(구분자 = ',', 데이터 타입: string)
    np_arr = np.loadtxt('data/NFLX.CSV', delimiter=",", encoding='cp949', dtype=str)
    return np_arr

In [6]:
arr = file_open_by_numpy()
print(arr)

[['Date' 'Open' 'High' ... 'Close' 'Adj Close' 'Volume']
 ['2018-02-05' '262.000000' '267.899994' ... '254.259995' '254.259995'
  '11896100']
 ['2018-02-06' '247.699997' '266.700012' ... '265.720001' '265.720001'
  '12595800']
 ...
 ['2022-02-02' '448.250000' '451.980011' ... '429.480011' '429.480011'
  '14346000']
 ['2022-02-03' '421.440002' '429.260010' ... '405.600006' '405.600006'
  '9905200']
 ['2022-02-04' '407.309998' '412.769989' ... '410.170013' '410.170013'
  '7782400']]

위와 같이 2차원 배열 형태로 read <br>
Type을 출력

In [7]:
type(arr)

numpy.ndarray

위의 데이터를 분석하기 위해 pandas 의 Dataframe 으로 변형

# 2. Pandas DataFrame 생성

In [8]:
# 기본적인 데이터 프레임 생성
df = pd.DataFrame(arr)
df

,0,1,2,3,4,5,6
0,Date,Open,High,Low,Close,Adj Close,Volume
1,2018-02-05,262.000000,267.899994,250.029999,254.259995,254.259995,11896100
2,2018-02-06,247.699997,266.700012,245.000000,265.720001,265.720001,12595800
3,2018-02-07,266.579987,272.450012,264.329987,264.559998,264.559998,8981500
4,2018-02-08,267.079987,267.619995,250.000000,250.100006,250.100006,9306700
...,...,...,...,...,...,...,...
1005,2022-01-31,401.970001,427.700012,398.200012,427.140015,427.140015,20047500
1006,2022-02-01,432.959991,458.480011,425.540009,457.130005,457.130005,22542300
1007,2022-02-02,448.250000,451.980011,426.480011,429.480011,429.480011,14346000
1008,2022-02-03,421.440002,429.260010,404.279999,405.600006,405.600006,9905200
1009,2022-02-04,407.309998,412.769989,396.640015,410.170013,410.170013,7782400

# A. 데이터 전처리 - 데이터 읽어오기
- Pandas를 사용하여 csv 파일(NLFX.csv)을 DataFrame 으로 읽어오기
- 이 때, ['Data', 'Open', 'High', 'Low', 'Close'] 필드만 읽어오기

In [9]:
# 컬럼명 지정하면서 생성하기
# 인덱스명도 지정하면서 할 수 있다.
# column 먼저 지정 후 열을 삭제하면 열 수가 안맞아 에러
arr = np.delete(arr, [5, 6], axis = 1)
headers = arr[0]
arr = np.delete(arr, 0, 0)
df = pd.DataFrame(arr, columns = headers)
df

            Date        Open        High         Low       Close
0     2018-02-05  262.000000  267.899994  250.029999  254.259995
1     2018-02-06  247.699997  266.700012  245.000000  265.720001
2     2018-02-07  266.579987  272.450012  264.329987  264.559998
3     2018-02-08  267.079987  267.619995  250.000000  250.100006
4     2018-02-09  253.850006  255.800003  236.110001  249.470001
...          ...         ...         ...         ...         ...
1004  2022-01-31  401.970001  427.700012  398.200012  427.140015
1005  2022-02-01  432.959991  458.480011  425.540009  457.130005
1006  2022-02-02  448.250000  451.980011  426.480011  429.480011
1007  2022-02-03  421.440002  429.260010  404.279999  405.600006
1008  2022-02-04  407.309998  412.769989  396.640015  410.170013

[1009 rows x 5 columns]

# B. 데이터 전처리 - 2021년 이후의 종가 데이터 출력하기
- csv 파일을 DataFrame 으로 읽어와 2021년 이후의 데이터만 필터링
    - [힌트] 필터링이 가능한 형식으로 데이터 타입을 변경한 후 필터링 진행
    - Pandas 의 to_datetime() 사용
- 필터링이 완료된 DataFrame 의 종가 데이터를 Matplotlib 를 사용하여 시각화

In [10]:
df.iloc[0]

Date     2018-02-05
Open     262.000000
High     267.899994
Low      250.029999
Close    254.259995
Name: 0, dtype: object